@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?fgkv21');
  src:  url('../fonts/icomoon.eot?fgkv21#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?fgkv21') format('truetype'),
    url('../fonts/icomoon.woff?fgkv21') format('woff'),
    url('../fonts/icomoon.svg?fgkv21#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-question:before {
  content: "\f128";
}
.icon-search:before {
  content: "\f002";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-user1:before {
  content: "\f007";
}
.icon-check:before {
  content: "\f00c";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-home:before {
  content: "\f015";
}
.icon-road:before {
  content: "\f018";
}
.icon-play-circle-o:before {
  content: "\f01d";
}
.icon-book1:before {
  content: "\f02d";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-eye-slash:before {
  content: "\f070";
}
.icon-magnet:before {
  content: "\f076";
}
.icon-thumbs-o-up:before {
  content: "\f087";
}
.icon-thumbs-o-down:before {
  content: "\f088";
}
.icon-sign-out:before {
  content: "\f08b";
}
.icon-phone:before {
  content: "\f095";
}
.icon-briefcase:before {
  content: "\f0b1";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-lightbulb-o:before {
  content: "\f0eb";
}
.icon-angle-double-left:before {
  content: "\f100";
}
.icon-angle-double-right:before {
  content: "\f101";
}
.icon-angle-double-up:before {
  content: "\f102";
}
.icon-angle-double-down:before {
  content: "\f103";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-quote-right:before {
  content: "\f10e";
}
.icon-smile-o:before {
  content: "\f118";
}
.icon-frown-o:before {
  content: "\f119";
}
.icon-meh-o:before {
  content: "\f11a";
}
.icon-keyboard-o:before {
  content: "\f11c";
}
.icon-envelope-square:before {
  content: "\f199";
}
.icon-toggle-off:before {
  content: "\f204";
}
.icon-toggle-on:before {
  content: "\f205";
}
.icon-connectdevelop:before {
  content: "\f20e";
}
.icon-times-rectangle-o:before {
  content: "\f2d4";
}
.icon-window-close-o:before {
  content: "\f2d4";
}
.icon-superpowers:before {
  content: "\f2dd";
}
.icon-book:before {
  content: "\e91f";
}
.icon-books:before {
  content: "\e920";
}
.icon-library:before {
  content: "\e921";
}
.icon-stack:before {
  content: "\e92e";
}
.icon-database:before {
  content: "\e964";
}
.icon-user:before {
  content: "\e971";
}
.icon-user-check:before {
  content: "\e975";
}
.icon-equalizer:before {
  content: "\e992";
}
.icon-cog:before {
  content: "\e994";
}
.icon-meter:before {
  content: "\e9a6";
}
.icon-meter2:before {
  content: "\e9a7";
}
.icon-magnet1:before {
  content: "\e9ab";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-scissors:before {
  content: "\ea5a";
}
.icon-page-break:before {
  content: "\ea68";
}
.icon-mail:before {
  content: "\ea83";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-joomla:before {
  content: "\eab5";
}
.icon-delicious:before {
  content: "\eacd";
}
.icon-yelp:before {
  content: "\ead7";
}
.icon-svg:before {
  content: "\eae9";
}
